
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/style.css')}}">
</head>
<html>
    

<body class='home_body'>
    <header>
        <div id="header_grid">
        <img id="MoodMgrLogo_image" src="{{url_for('static',filename='images/MoodMgrLogo.png')}}" alt ="MoodMgrLogo image">
        <h1 id='header_title'>Welcome to Mood Manager</h1>
        
        </div>

        <a href="/login" class="login_button">Login</a>
        
    </header>

    

</body>

</html>