<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/style.css')}}">
</head>
<html>

<body class='home_body'>
    <header>
        <div id="header_grid">
        <img id="MoodMgrLogo_image" src="{{url_for('static',filename='images/MoodMgrLogo.png')}}" alt ="MoodMgrLogo image">
        <h1 id='header_title'>Welcome to Mood Manager</h1>
    </header>
    <form action="#" method="post">
        <fieldset>
            <legend>Login</legend>
            <label>Username:</label> <input type="text" name="username" id="username">
			<br/><br/>
			<label>Password: </label> <input type="password" name="password" id="password">
            <p><input type="submit" value="submit"/></p>
			<br/><br/>
        </fieldset>
    </form>
</body>
</html>